#myH1{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(162, 207, 242);
    border-radius: 5px;
    cursor: pointer;
    /* 鼠标放在btn上时的形状 */
    
    transition: background-color 0.25s;
}


/* 选择鼠标指针浮动在其上的元素，并设置其样式： */
.buttons:hover{
    background-color: rgb(69, 157, 224);
}